<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
    .product-detail-title {
        font-size: 24px;
        font-weight: bold;
    }

    .product-detail-image {
        width: 100%
    }
</style>

<body style="background-color:silver;">
    <div >
        <div class="bg-primary">
            <div class="container">
                <nav class="navbar navbar-expand navbar-dark bg-primary p-0">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Liên hệ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    
        <div class="container mt-5 mb-5" style="background-color: white;">
            <h3>GIỚI THIỆU</h3>
            <br><br><br>
            <hr style="background-color: black;">
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d979.8520290442578!2d106.64448882922451!3d10.780021616957685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d10.7800924!2d106.6450433!4m5!1s0x31752eba43c855bf%3A0xd7127e12fae3a1f3!2zTGluaCBTYW4gSmV3ZWxyeSwgNDQ1IFRy4bqnbiBWxINuIFF1YW5nLCBQaMaw4budbmcgMTAsIFTDom4gQsOsbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!3m2!1d10.7800748!2d106.6450428!5e0!3m2!1sen!2s!4v1607398972942!5m2!1sen!2s" 
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>   
                </div>
                <div class="col-3"></div>
            </div>
            
        </div>
    </div>
</body>
<footer style="background-color: black; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-4">
                Liên hệ:<br>
                SĐT: 0123456789 <br>
                Địa chỉ: 674 Âu Cơ, P. 14, Q. Tân Bình <br>
                Email: vvqhuy1@gmail.com <br>
            </div>
            <div class="col-4">
                Thông tin qua mạng xã hội: <br>
                <a href="https://www.facebook.com/"><img src="/static/images/facebook.png" style="width: 40px; height: 40px;"></a>
                &emsp;
                <a href="https://www.youtube.com/"><img src="/static/images/youtube.jpg" style="width: 40px; height: 40px;"></a>
                &emsp;
                <a href="https://twitter.com/"><img src="/static/images/twitter.png" style="width: 40px; height: 40px;"></a>
            </div>
        </div>
    </div>
</footer>
