<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
    .product-image {
        width: 95%;
        height: 300px;
    }

    .price-title {
        font-style: italic;
        font-size: 14px;
    }

    .price {
        font-size: 16px;
        font-weight: bold;
    }

    .product-item,
    .product-item:link,
    .product-item:hover,
    .product-item:visited {
        text-decoration: none;
        color: black;
    }

    .item-container {
        position: relative;
        height: 100%;
        padding-bottom: 50px;
    }

    .item-info {
        position: absolute;
        bottom: 0px;
        height: 50px;
    }
</style>
<div>
    <div class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand navbar-dark bg-dark p-0">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="container mt-5 mb-5">
        <form>
            <div class="row">
                <div class="col-3">
                    <label> &nbsp;</label>
                    <input name="name" value="{{name}}" class="form-control" placeholder="Nhập tên sản phẩm để tìm">
                </div>
                <div class="col-3">
                    <label>Nhóm sản phẩm:</label>
                    <select name="categoryId" class="form-control">
                        <option value="">--Tất cả--</option>
                        {%for c in categoryList%}
                        <option {%if c.id == categoryId %} selected {% endif %} value="{{c.id}}">{{c.name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col-3">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-sm btn-primary" type="submit">Tìm kiếm</button>
                </div>
            </div>  
        </form>
        <ul class="list-unstyled row">
            {%for p in productList%}
            <li class="list-item col-sm-4 mt-3" style="padding-top: 10px;">
                <div class='item-container'>
                    <a href="/view_product/{{p.id}}" class='product-item'>
                        <img src="/{{p.image}}" class='product-image'>
                        <div class="item-info">
                            <div>
                                <span class='product-name'><b>Tên sản phẩm : </b>{{p.name}}</span>
                            </div>
                            <div>
                                <span class='price-title'>Giá bán :</span> <span class='price'>{{p.priceInt}} ₫</span>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            {%endfor%}
            {%if not orderList%}
                <li style="text-align: center;">
                    <b>Không có sản phẩm nào</b>
                </li>
            {%endif%}
        </ul>
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="?page=1&name={{name}}&categoryId={{categoryId}}">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{prev_page}}&name={{name}}&categoryId={{categoryId}}">&lsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{next_page}}&name={{name}}&categoryId={{categoryId}}">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{num_page}}&name={{name}}&categoryId={{categoryId}}">&raquo;</a>
                </li>
                
            </ul>
            <p class="text-right"><small>Trang {{page}}/{{num_page}}, trên tổng số {{total}} bản ghi</small></p>

    </div>
    
    
    
</div>