<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
    input {
        width: 100%;
    }
</style>
<div id="app">
    <div class="bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand navbar-dark bg-primary p-0">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <form method="POST" novalidate> {%csrf_token%}
            <h4>Đặt mua hàng trực tuyến</h4>
            <table class="table table-form">
                <tr>
                    <th colspan="2">
                        <h5>Thông tin sản phẩm</h4>
                    </th>
                </tr>
                <tr>
                    <th>Tên sản phẩm:</th>
                    <td>{{product.name}}</td>
                </tr>
                <tr>
                    <th>Đơn giá:</th>
                    <td>{{product.priceInt}} ₫</td>
                </tr>
                <tr>
                    <th>Số lượng:</th>
                    <td>
                        <div style="width:50px">
                            {{form.qty}}
                        </div>
                        {{form.qty.errors}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <h5>Thông tin người mua hàng</h4>
                    </th>
                </tr>
                <tr>
                    <th>Họ và tên:</th>
                    <td>{{form.fullname}}   {{form.fullname.errors}}</td>
                    
                </tr>
                <tr>
                    <th>Số điện thoại:</th>
                    <td>{{form.phone}}   {{form.phone.errors}}</td>
                    
                </tr>
                <tr>
                    <th>Địa chỉ:</th>
                    <td>{{form.address}} {{form.address.errors}}</td>
                    
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Đặt mua</button>
        </form>
    </div>
</div>